<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Biblioteca-Syncode</title>
</head>

<body>
  <header style="box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);">
    <nav class="navbar navbar-light">
      <a class="navbar-brand logo" href="#">
        <img src="assets/img/logo.svg" alt="logo">
      </a>
    </nav>
  </header>
  <section class="home">
    <div class="d-flex bd-highlight">
      <div class="p-2 flex-grow-1 bd-highlight">
        <p class="title">Lista de livros</p>
      </div>
      <div class="p-2 bd-highlight">
        <button type="submit" class="btn btn-primary btn-lg btn-novo-livro" data-bs-toggle="modal" data-bs-target="#exampleModal">Novo Livro</button>
      </div>
    </div>
  </section>
  <section class="filter">
    <div class="d-flex flex-row-reverse bd-highlight">
      <div class="p-2 bd-highlight">
        <div class="input-group mb-3">
          <input type="text" class="form-control search" placeholder="O senhor dos aneis|" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="fa fa-search input-group-text"><img src="assets/img/search.svg" alt="search"></span>
          </div>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <div class="container">
          <input type="text" class="form-control publicados-data" placeholder="Publicados em " onfocus="(this.type='date')">
       </div>
      </div>
      <div class="p-2 bd-highlight botoes-filtro">
        <button type="button" class="btn btn-outline-primary btn-lg btn-todos">Todos</button>
        <button type="button" class="btn btn-outline-primary btn-lg btn-locados">Locados</button>
        <button type="button" class="btn btn-outline-primary btn-lg btn-disponiveis">Disponíveis</button>
      </div>
    </div>
  </section>
  <section class="form-novo-livro">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="container modal-title-novo-livro">
            <div class="container novo-livro-form">
              <header>
                <nav class="navbar navbar-light form-nav">
                  <span class="navbar-brand mb-0 h1 title-form">Novo Livro</span>
                  <span class="navbar-brand mb-0 h1"> <a href="#"><img src="assets/img/close.svg" alt="x"></a></span>
                </nav>
              </header>
              <form>
                <div class="form-group">
                  <div class="col">
                    <label>Nome do livro*</label>
                    <input [(ngModel)]="nomeDoLivro" type="text" class="form-control" placeholder="texto" name="nomeDoLivro">
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="form-control">Autor*</label>
                      <input [(ngModel)]="autor" type="text" class="form-control autor-input" placeholder="texto" name="autor">
                    </div>
                    <div class="col">
                      <label for="form-control edicao-label">Edição*</label>
                      <input [(ngModel)]="edicao" type="text" class="form-control" placeholder="01" name="edicao">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col ">
                      <label for="form-control">link da capa*</label>
                      <input [(ngModel)]="linkCapa" type="text" class="form-control capa-input" placeholder="texto" name="linkCapa">
                    </div>
                    <div class="col">
                      <label for="form-control">Data de publicação*</label>
                      <input [(ngModel)]="data" type="date" class="form-control data-input" name="data">
                    </div>
                    <div class="form-group resumo">
                      <label for="exampleFormControlTextarea1">Resumo</label>
                      <textarea [(ngModel)]="resumo"  class="form-control" rows="3" name="resumo"></textarea>
                    </div>
                  </div>
                </div>
              </form>
              <footer>
                <nav class="navbar form-nav">
                  <form class="form-inline btn-form">
                    <button class="btn btn-outline-success my-2 my-sm-0 btn-cancelar" type="submit">Cancelar</button>
                    <button type="button" class="btn btn-primary btn-salvar" (click)="salvarNovoLivro()">Salvar</button>
                  </form>
                </nav>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="lista">

    <div class="container card-container" *ngIf="Livros">
      <div class="row" >

        <div class="col-3" *ngFor="let livro of Livros" >
          <div class="card-livro">

            <div class="imagem">
              <img src={{livro.capaLink}} alt="{{livro.nomeLivro}}">
            </div>

            <div class="livro" style="border-radius: 0 0 4px 4px">
              <span class="titulo">{{livro.nomeLivro}}</span>
              <br>
              <span class="autor" style="margin-top: 10px;">{{livro.nomeAutor}} - {{livro.edicao}}</span>
              <br>
              <div class="disponivel">
                <img src="assets/img/sucesso.svg" alt="Disponível">
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="container lista" *ngIf="!Livros">
      <div>
        <img src="assets/img/lista.svg" #sem_livros alt="Sem livros na lista">
      </div>
    </div>

  </section>

</body>

</html>
